{% extends "base.html" %}

{% block title %} Página personal {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="row bg-light bg-gradient">
                <div class="col-3 "></div>
                <div class="col-5">
                    <header>
                        <p class="h1">Renato R. Romero</p>
                        <p class="h4 ">
                            <small class="text-muted">Sobre mí</small>
                        </p>
                    </header>
                </div>
            </div>
        </div>
    </div>
{% endblock %}